<!DOCTYPE html>
<html>
<head>
  <title>Myengine</title>
  <%= stylesheet_link_tag    "myengine/application", :media => "all" %>
  <%= javascript_include_tag "myengine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
